// Grid Variables

$pad: 1rem;

// Color Variables

$dark-blue: rgb(36, 85, 195);
$hover-blue: lighten($dark-blue, 10%);
$light-gray: rgb(51, 51, 51);
$very-light-gray: rgb(153, 153, 153);
$charcoal: rgb(85, 85, 85);

$header-black: #444;
$body-black: #222;

