        <footer class="main-footer">
          
          <!--
          <nav role="navigation">
              <p>Explore ArtDiversions</p>
                  <ul>
                      <li><a href="business" title="Business">The Market</a></li>
                      <li><a href="design" title="Design">Galleries</a></li>
                      <li><a href="programming" title="Programming">Artists</a></li>
                  </ul>
          </nav> -->

          <!--<section class="hits clearfix module" role="complementary">
            <div class="best-posts col-1-2">
                <p><span>New here?</span> Start with our hits:</p>
                <ul>
                    <li><a href="">It just doesn't matter</a></li>
                    <li><a href="">Writing decisions: saving space without losing meaning</a></li>
                    <li><a href="">How to get good at making money</a></li>
                    <li><a href="">Forget passion, focus on process</a></li>
                    <li><a href="">Give it five minutes</a></li>
                </ul>
            </div>
            <div class="new-posts col-1-2">
                <p><span>Back again?</span> Catch our latest:</p>
                <ul>
                    <li><a href="">The person you could be hiring</a></li>
                    <li><a href="">Everyone does everything</a></li>
                    <li><a href="">Guess what these Google icons do</a></li>
                    <li><a href="">Healthy benefits for the long run</a></li>
                    <li><a href="">Remote Works: IT Collective</a></li>
                </ul>
            </div>
          </section> -->

          <section class="footer-bottom module" role="contentinfo">
            <p><a href="https://twitter.com/amymhaddad" title="Amy's Twitter page">Follow me on Twitter.</a> <a href="https://www.linkedin.com/pub/amy-haddad/10/b45/730" title="Amy's LinkedIn page">Find me on LinkedIn.</a> <a href="mailto:amy@artdiversions.com">Send me an email.</a></p>
            <p>Content &copy;2014 ArtDiversions</p>
          </section>

      </footer>

      </div> <!-- .page-wrap -->

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ site.baseurl}}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

      <script>

        Modernizr.load([
        {
          test: Modernizr.mq('only all'),
          nope: '{{ site.baseurl }}/bower_components/respond/dest/respond.min.js'
        }
        ]);

      </script>

      <script src="{{ site.baseurl }}/js/build/production.min.js"></script>

      <!-- Google Analytics:-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49121700-1', 'artdiversions.com');
        ga('send', 'pageview');
      </script>

  </body>
</html>