        <footer class="main-footer">
          
          <!--
          <nav role="navigation">
              <p>Explore ArtDiversions</p>
                  <ul>
                      <li><a href="business" title="Business">The Market</a></li>
                      <li><a href="design" title="Design">Galleries</a></li>
                      <li><a href="programming" title="Programming">Artists</a></li>
                  </ul>
          </nav> -->

          <!--<section class="hits clearfix module" role="complementary">
            <div class="best-posts col-1-2">
                <p><span>New here?</span> Start with our hits:</p>
                <ul>
                    <li><a href="">It just doesn't matter</a></li>
                    <li><a href="">Writing decisions: saving space without losing meaning</a></li>
                    <li><a href="">How to get good at making money</a></li>
                    <li><a href="">Forget passion, focus on process</a></li>
                    <li><a href="">Give it five minutes</a></li>
                </ul>
            </div>
            <div class="new-posts col-1-2">
                <p><span>Back again?</span> Catch our latest:</p>
                <ul>
                    <li><a href="">The person you could be hiring</a></li>
                    <li><a href="">Everyone does everything</a></li>
                    <li><a href="">Guess what these Google icons do</a></li>
                    <li><a href="">Healthy benefits for the long run</a></li>
                    <li><a href="">Remote Works: IT Collective</a></li>
                </ul>
            </div>
          </section> -->

          <section class="footer-bottom module" role="contentinfo">
            <p><a href="https://twitter.com/amymhaddad" title="Amy's Twitter page">Follow me on Twitter.</a> <a href="mailto:amy@artdiversions.com">Send me an email.</a></p>
            <p>Content &copy;2014 ArtDiversions</p>
          </section>

      </footer>

      </div> <!-- .page-wrap -->

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ site.baseurl}}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
      <script src="{{ site.baseurl}}/js/build/production.min.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>

  </body>
</html>